@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

:root {
  --primary-color: #4b2aad;
  --secondary-color: #1a1715;
  --txt-color: #5c5856;
  --btn-hover: #351e7a;
  --hover-bg: #f5efeb;
}

/* .dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
} */

body {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  line-height: 1.32;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
.header {
  position: fixed;
  height: 200px;
  width: 100vw;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .header-content .header-left-items {
  display: flex;
  align-items: baseline;
}

.header .logo {
  width: 80px;
}

.header .header-list {
  display: flex;
}

.header-list .subnav {
  display: flex;
}

.header-list .subnav .list-heading {
  position: relative;
}

.header-list .subnav .items {
  position: absolute;
}
